.atmosphere_container {
  perspective: 1000px;
}

.atmosphere_clouds {
  position: relative;
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d;
}
.atmosphere_cloud {
  position: absolute;
  inset: -5vh;

  background-size: cover !important;
  background-position: center !important;
}

.text_atmosphere_container {
  display: flex;
  flex-direction: column-reverse;

  z-index: 2;
  position: absolute;
  bottom: 0;

  padding: 150px;

  & > .textBlockContainer {
    backdrop-filter: sepia(1) hue-rotate(212deg) blur(5px) brightness(0.5);
  }
}
.atmosphere_description {
  max-height: 200px;
  overflow: auto;
}
