@font-face {
  font-family: 'SaarSPDemo';
  src: url('../../static/fonts/SaarSPDemo.otf');
}
@font-face {
  font-family: 'jekr';
  src: url('../../static/fonts/JEKR.TTF');
}
@font-face {
  font-family: 'BankGothicMedium';
  src: url('../../static/fonts/BankGothicMedium.ttf');
}
