@import "./animations";

@font-face {
  font-family: "SaarSPDemo";
  src: url("../../static/fonts/SaarSPDemo.otf");
}
@font-face {
  font-family: "jekr";
  src: url("../../static/fonts/JEKR.TTF");
}
@font-face {
  font-family: "BankGothicMedium";
  src: url("../../static/fonts/BankGothicMedium.ttf");
}

* {
  padding: 0;
  margin: 0;
  font-family: "BankGothicMedium", monospace;
}
body {
  display: flex !important;
  background: black !important;
}

.model-container {
  z-index: 0;
  transition: filter 4s ease-in;
  filter: blur(0);
}

.blur {
  filter: blur(6px);
}

.invisible {
  opacity: 0;
}

.fade {
  animation: 1.5s fade_hide_show ease-in-out forwards;
}
@keyframes fade_hide_show {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
