* {
  padding: 0;
  margin: 0;
  font-family: "BankGothicMedium", monospace;
}
body {
  display: flex !important;
  background: black !important;
}

.model-container {
  z-index: 0;
  transition: filter 4s ease-in;
  filter: blur(0);
}

.blur {
  filter: blur(6px);
}
