$mainFontColor: #dde3ff;
$secondWhite: #dcdcdc;
$link: #9cb6ff;

$backgroundBlackLite: rgba(3, 3, 24, 0.15);
$backgroundBlackStrong: rgba(3, 3, 24, 0.35);

$black: #101118;

//Planet colors

$sun: #f3d551;
$sunGlow: #ffd311;
$mercury: #517ff3;
$venus: #f3ba51;
$earth: #51b5f3;
$moon: #afafaf;
$mars: #f39551;
$jupiter: #cb9177;
$saturn: #c2795f;
$uranus: #4e77d3;
$neptune: #4143c2;
