@import url("https://fonts.googleapis.com/css?family=Alumni+Sans+Pinstripe&display=swap");
@import "../../styles/utils";
@import "../../styles/palette";

.earth {
  display: flex;
  align-items: flex-end;
  height: calc(100% - 400px);
  padding: 200px 100px;
}

.earth_menu {
  pointer-events: auto;
  p {
    @include absoluteSize(font-size, 2.5, 20px, 150px);
    @include fontShadow(0, $backgroundBlackStrong, 0);

    position: relative;
    cursor: pointer;
    user-select: none;
    transition: all 0.5s ease-in;
    margin-top: 16px;
    padding: 8px 16px 8px 34px;

    color: $mainFontColor;
    text-align: center;
    text-transform: uppercase;
    font-family: "Alumni Sans Pinstripe", monospace;
    font-weight: 400;
    letter-spacing: 15px;

    &:hover {
      @include fontShadow(2, $mainFontColor, 5);
      &::after {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }

    &::after {
      content: "";
      background: $backgroundBlackLite;

      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      left: 0;
      bottom: 0;

      transition: clip-path 0.25s ease-out;
      clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);

      border: 5px #dde3ff dotted;
    }
  }
}
